<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC Parse Header microService</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
  <h2>Parsing Header microservice</h2>
  <div class="userStory">
    <p>In URL add /api, to get your IP address, language, and operating system for your browser.</p>
  </div>
</body>
</html>